@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Kalam:wght@300;400;700&display=swap');

.chatbot-page {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #DECEA3;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 1.5vmin);
  color: #39170F;
  position: relative;
  flex-direction: column !important;
  z-index: 1;
}

.chatbot {
  margin-left: 0rem;
}






.chatbot-page-Flowers2 {
  position: fixed;
  bottom: -50px;
  rotate: -20deg;
  left: 45%;
  height: 60vmin;
  animation: chatbot-page-BFlowers2-animation 1s ease-in-out forwards;
  z-index: 0;
}



@keyframes chatbot-Bee-1-animation {
  0% {
    transform: rotate(20deg) translateX(40%) rotate(10deg);
  }

  20% {
    transform: rotate(30deg) translateX(50%) rotate(5deg);
  }

  40% {
    transform: rotate(45deg) translateX(70%) rotate(-10deg);
  }

  60% {
    transform: rotate(-15deg) translateX(80%) rotate(20deg);
  }

  80% {
    transform: rotate(10deg) translateX(110%) rotate(5deg);
  }

  100% {
    transform: rotate(20deg) translateX(40%) rotate(10deg);
  }
}

.chatbot-Bee-1 {
  position: absolute;
  right: 20%;
  top: 25%;
  height: 7vmin;
  width: 7vmin;
  z-index: 1;
  animation: chatbot-Bee-1-animation 17s ease-in-out infinite forwards;
}

/* .Bee-2 {
  animation: Bee-2-animation 17s infinite linear;
  z-index: 1;
} */

.chatbot-title {
  font-family: 'Kalam', cursive;
  font-weight: 600;
  margin: 2rem;
  cursor: pointer;
  align-self: center;
  z-index: 3;
}

.AiIcon {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 32rem;
  left: 12rem;
  z-index: 3;
}

.dots {
  width: 4rem;
  position: absolute;
  top: 34rem;
  left: 16rem;
  z-index: 3;
}

.messages-display-container {
  position: relative !important;
  top: 3rem;
  margin-left: 20rem;
  z-index: 0;
  height: 30rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  /*  Change to column-reverse to display messages from top to bottom */
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  height: 400px;


}



.new-message-container {
  background-color: #F9F2DD;
  color: #39170F;
  padding: 0.50rem 0 0.50rem 1rem;

  margin: 0.3rem;
  border-radius: 19px;
  z-index: 2;
  text-align: left;
  border: none !important;
  width: 75%;
}




video {
  border-radius: 15px;
  margin: 0.5rem !important;
  width: 60%;
  height: 60%;
  object-fit: cover;
  /* Add this line to ensure the video fills the container */
}

.video-display-container {
  width: 25%;


}


.next-message-button {
  background-color: #AD6202;
  height: 3.5rem;
  width: 13rem;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  z-index: 10 !important;
  /* Increased z-index */
  position: relative;
  /* Ensure it's positioned */
  margin-top: 10rem;
  cursor: pointer;
  border: none !important;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;

  &:hover {
    background-color: #e98400;
    color: #ffffff;
  }
}


.chatbot-message {
  display: block;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

*, ::after, ::before {
  box-sizing: none !important;
}
