@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

.chatbot-page {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #DECEA3;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 1.5vmin);
  color: #39170F;
  position: relative;
  flex-direction: column !important;

}

@keyframes Bee-1-animation {
  0% {
    transform: rotate(0deg) translateX(30px) rotate(0deg);
  }

  100% {
    transform: rotate(-360deg) translateX(30px) rotate(360deg);
  }
}

/* @keyframes Bee-2-animation {
  0% {
    transform: rotate(0deg) translateY(60px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(60px) rotate(-360deg);
  }
} */

.Bee-1 {
  animation: Bee-1-animation 16s infinite linear;
}

.Bee-2 {
  animation: Bee-2-animation 17s infinite linear;
}



.Bee-1 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15rem;
  margin-top: 14rem;
  height: 10vmin;
  width: 10vmin;

}



.chatbot-title {
  font-family: 'Kalam', cursive;
  cursor: pointer;
  align-self: center;


}

.dots {
  width: 3rem;
  position: absolute;

  top: 7rem;
  left: 5rem;
}

.chatbot-container {
  position: absolute !important;
  top: 8rem;
  flex-direction: column !important;
  height: 10%;
  margin: 3rem;
  width: 90ch;

}

.AiIcon {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 5rem;
  left: 0;
}

.message-container {
  background-color: rgb(255, 253, 240);
  color: #39170F;
  padding: 6px;
  margin: 5px;
  border-radius: 15px;
  max-width: 90%;

  /* Let the width be determined by the content */
}



*/ .Flowers1 {
  position: absolute;
  right: -560px;
  top: 350px;
  /* or whatever position you want */
  height: 60vmin;
}


.next-message-button {
  background-color: #AD6202;
  height: 3.5rem;
  width: 13rem;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  z-index: 1;
  margin-top: 25rem;

}

p {
  display: block;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;

}
