@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

.chatbot-page {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #DECEA3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1.5vmin);
  color: #39170F;
  position: relative;

}

@keyframes Bee-1-animation {
  0% {
    transform: rotate(0deg) translateX(30px) rotate(0deg);
  }

  100% {
    transform: rotate(-360deg) translateX(30px) rotate(360deg);
  }
}

/* @keyframes Bee-2-animation {
  0% {
    transform: rotate(0deg) translateY(60px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(60px) rotate(-360deg);
  }
} */

.Bee-1 {
  animation: Bee-1-animation 16s infinite linear;
}

.Bee-2 {
  animation: Bee-2-animation 17s infinite linear;
}



.Bee-1 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15rem;
  margin-top: 14rem;
  height: 10vmin;
  width: 10vmin;

}



.chatbot-title {
  font-family: 'Kalam', cursive;
  cursor: pointer;

}


.chatbot-container {
  position: fixed;
  left: 0;
  top: 10rem;
  display: flex;
  flex-direction: row;

  .chatbot-message {
    font-family: 'Roboto Flex', sans-serif;
    position: relative;

  }

  .AiIcon {
    position: relative;
  }
}

.Flowers1 {
  position: absolute;
  right: -560px;
  top: 350px;
  /* or whatever position you want */
  height: 60vmin;
}



.next-message-button {
  background-color: #AD6202;
  height: 3.5rem;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  margin-top: 6rem;
  z-index: 1;
}
