@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

.Landing {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;

}

@keyframes Bee-1-animation {
  0% {
    transform: rotate(0deg) translateX(30px) rotate(0deg);
  }

  100% {
    transform: rotate(-360deg) translateX(30px) rotate(360deg);
  }
}

@keyframes Bee-2-animation {
  0% {
    transform: rotate(0deg) translateY(60px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(60px) rotate(-360deg);
  }
}

.Bee-1 {
  animation: Bee-1-animation 16s infinite linear;
}

.Bee-2 {
  animation: Bee-2-animation 17s infinite linear;
}

.App-header {
  background-color: #DECEA3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: #39170F;
  position: relative;
}

.Bee-1 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15rem;
  margin-top: 14rem;
  height: 10vmin;
  width: 10vmin;

}

.Bee-2 {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15rem;
  margin-top: 7rem;
  height: 20vmin;
  width: 20vmin;
}

.App-title {
  font-family: 'Kalam', cursive;
}

.App-intro {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: 'Roboto Flex', sans-serif;


}



.Flowers1 {
  position: absolute;
  right: -560px;
  top: 350px;
  /* or whatever position you want */
  height: 60vmin;
}

.Flowers2 {
  position: absolute;
  left: -490px;
  top: 350px;
  height: 60vmin;

  /* or whatever position you want */
}

.button {
  background-color: #AD6202;
  height: 3.5rem;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  margin-top: 6rem;
  z-index: 1;
}
